#bag {
  cursor: pointer !important;
}
#cart {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 0;
  background-color: #fafafa;
}

.remove-item {
  cursor: pointer;
}

.added {
  color: green;
}
