.image {
  position: relative;
  display: inline-block;
}

.product_image {
  display: block;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: rgba(0, 0, 0, 0.6);
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  a {
    color: white;
    font-size: 3em;
    :hover {
      color: white;
    }
  }
}
.overlay {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: #009578;
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover > * {
  transform: translateY(0);
}

.add-state {
  display: block;
  overflow: hidden;
}

.add-to-cart {
  position: relative;
}

.added {
  color: green;
}
