//Mobile
.selected-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.selected-image {
  width: 100%;
  margin: 20px 0px 0px 0px;
}

.item-details {
  width: 90%;
  margin: 10px;
}

.h3-heading {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px;
}

.item-title {
  font-size: 1.3rem;
  margin: 5px;
}

.item-description {
  margin: 20px;
}

//Tablet
@media screen and (min-width: 768px) {
  .selected-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item-details {
    width: 50%;
  }

  .image-wrapper {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .selected-image {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  #sortButton {
    font-size: 20pt;
  }

  .selected-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-wrapper {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .selected-image {
    width: 60%;
  }

  .item-details {
    width: 70%;
  }
}
